In [1]:
import pandas as pd
import numpy as np

In [4]:
filename = "E:/vscode/Pandas Works/Dataset/IEA-EV-dataEV salesHistoricalCars.csv"
df = pd.read_csv(filename)

In [5]:
df.head()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

Read the EV data into a data frame. Remove rows from the "world" region. Keep only those rows with "EV sales" and "EV stock" parameters.

In [9]:
# for our analysis we only takes the rows which contain EV stocks and EV sales
df['parameter'].unique()

array(['EV sales share', 'EV stock share', 'EV sales', 'EV stock',
       'Electricity demand', 'Oil displacement Mbd',
       'Oil displacement, million lge'], dtype=object)

In [10]:
df = (
    df.loc[lambda df_ : df_['parameter'].isin(['EV sales', 'EV stock'])]    
)

In [11]:
df.head()

      region    category parameter  mode powertrain  year      unit  value
2  Australia  Historical  EV sales  Cars        BEV  2011  Vehicles   49.0
3  Australia  Historical  EV stock  Cars        BEV  2011  Vehicles   49.0
4  Australia  Historical  EV stock  Cars        BEV  2012  Vehicles  220.0
5  Australia  Historical  EV sales  Cars        BEV  2012  Vehicles  170.0
8  Australia  Historical  EV stock  Cars       PHEV  2012  Vehicles   80.0

In [12]:
df['parameter'].unique()

array(['EV sales', 'EV stock'], dtype=object)

In [13]:
df = (
    df.loc[lambda df_ : df_['region'] != 'World']
)

In [14]:
df.head()

      region    category parameter  mode powertrain  year      unit  value
2  Australia  Historical  EV sales  Cars        BEV  2011  Vehicles   49.0
3  Australia  Historical  EV stock  Cars        BEV  2011  Vehicles   49.0
4  Australia  Historical  EV stock  Cars        BEV  2012  Vehicles  220.0
5  Australia  Historical  EV sales  Cars        BEV  2012  Vehicles  170.0
8  Australia  Historical  EV stock  Cars       PHEV  2012  Vehicles   80.0

In [15]:
df['region'].unique()

array(['Australia', 'Austria', 'Belgium', 'Brazil', 'Bulgaria', 'Canada',
       'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Estonia', 'EU27', 'Europe',
       'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland',
       'India', 'Ireland', 'Israel', 'Italy', 'Japan', 'Korea', 'Latvia',
       'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand',
       'Norway', 'Poland', 'Portugal', 'Rest of the world', 'Romania',
       'Seychelles', 'Slovakia', 'Slovenia', 'South Africa', 'Spain',
       'Sweden', 'Switzerland', 'Turkiye', 'United Arab Emirates',
       'United Kingdom', 'USA'], dtype=object)

The resulting data frame, assigned to “df”, now includes regions other than “World” and contains only EV sales and EV stock information.

*** Create a data frame showing the number of cars sold each year, in each country, with a BEV ("battery electric vehicle") powertrain ***

In [26]:
df.head()

      region    category parameter  mode powertrain  year      unit  value
2  Australia  Historical  EV sales  Cars        BEV  2011  Vehicles   49.0
3  Australia  Historical  EV stock  Cars        BEV  2011  Vehicles   49.0
4  Australia  Historical  EV stock  Cars        BEV  2012  Vehicles  220.0
5  Australia  Historical  EV sales  Cars        BEV  2012  Vehicles  170.0
8  Australia  Historical  EV stock  Cars       PHEV  2012  Vehicles   80.0

In [31]:

(
    df
    .loc[lambda df_ : df_['parameter'] == 'EV sales']
    .loc[lambda df_ : df_['powertrain'] == 'BEV']
    .pivot_table(index='year',
                 columns = 'region',
                 values = 'value')

)

region,Australia,Austria,Belgium,Brazil,Bulgaria,Canada,Chile,China,Colombia,Costa Rica,...,Slovakia,Slovenia,South Africa,Spain,Sweden,Switzerland,Turkiye,USA,United Arab Emirates,United Kingdom
year,,,,,,,,,,,,,,,,,,,,,
2010,NaN,NaN,48.0,10.0,NaN,NaN,NaN,1100.0,NaN,NaN,...,NaN,NaN,NaN,76.0,4.0,NaN,NaN,1200.0,NaN,240.0
2011,49.0,NaN,280.0,8.0,NaN,220.0,6.0,4800.0,NaN,NaN,...,NaN,NaN,NaN,390.0,180.0,400.0,NaN,9800.0,NaN,1200.0
2012,170.0,NaN,570.0,22.0,NaN,620.0,5.0,9600.0,NaN,NaN,...,NaN,NaN,NaN,430.0,270.0,340.0,92.0,15000.0,NaN,1600.0
2013,190.0,650.0,500.0,39.0,NaN,1600.0,5.0,15000.0,NaN,NaN,...,NaN,NaN,34.0,810.0,430.0,1200.0,NaN,48000.0,NaN,2600.0
2014,370.0,1700.0,1300.0,61.0,NaN,2800.0,3.0,49000.0,NaN,NaN,...,NaN,NaN,14.0,1400.0,1200.0,2700.0,46.0,63000.0,NaN,6700.0
2015,760.0,1700.0,1400.0,61.0,21.0,4400.0,10.0,150000.0,39.0,4.0,...,52.0,NaN,120.0,1300.0,3000.0,3300.0,120.0,71000.0,NaN,10000.0
2016,670.0,3800.0,2100.0,130.0,5.0,5200.0,18.0,260000.0,28.0,12.0,...,59.0,140.0,100.0,2000.0,2900.0,3300.0,44.0,87000.0,NaN,10000.0
2017,1200.0,5400.0,2700.0,140.0,68.0,8700.0,120.0,470000.0,92.0,25.0,...,210.0,290.0,68.0,3900.0,4400.0,4800.0,77.0,100000.0,NaN,14000.0
2018,1800.0,6800.0,3600.0,180.0,190.0,23000.0,100.0,820000.0,250.0,200.0,...,290.0,470.0,66.0,6000.0,7100.0,5100.0,190.0,240000.0,59.0,16000.0
2019,6300.0,9300.0,8800.0,540.0,180.0,32000.0,160.0,830000.0,870.0,460.0,...,160.0,190.0,160.0,10000.0,16000.0,13000.0,230.0,240000.0,33.0,38000.0
2020,5200.0,16000.0,15000.0,800.0,140.0,37000.0,110.0,920000.0,480.0,630.0,...,920.0,1600.0,92.0,18000.0,28000.0,20000.0,890.0,230000.0,630.0,110000.0
2021,17000.0,33000.0,23000.0,2900.0,430.0,59000.0,270.0,2700000.0,840.0,1000.0,...,1100.0,1700.0,220.0,24000.0,57000.0,32000.0,3000.0,470000.0,2100.0,190000.0
2022,33000.0,34000.0,38000.0,8500.0,1000.0,91000.0,880.0,4400000.0,1900.0,1600.0,...,1400.0,2300.0,500.0,33000.0,96000.0,40000.0,7000.0,800000.0,15000.0,270000.0
2023,87000.0,48000.0,93000.0,19000.0,1800.0,130000.0,410.0,5400000.0,3600.0,4900.0,...,2300.0,4300.0,810.0,57000.0,110000.0,53000.0,66000.0,1100000.0,23000.0,310000.0

In which five countries have we seen the greatest percentage growth in the number of EV cars sold between 2019 and 2023?

In [33]:
# We aim to determine the percentage change from 2019 to 2024. 
# This spans four years, so we use the keyword argument “periods=4” in “pct_change” to ensure accurate calculations.
#  Additionally, we set “fill_method=None” to prevent Pandas from warning about the upcoming deprecation of the previous default method for handling missing values.

In [36]:
(df
 .loc[lambda df_: df_['parameter'] == 'EV sales']
 .loc[lambda df_ : df_['powertrain'] == 'BEV']
 .pivot_table(index='year',
              columns= 'region',
              values= 'value')
 .pct_change(periods=4, fill_method=None)
 .loc[2023]
 #.nlargest(5)
)

region
Australia                12.809524
Austria                   4.161290
Belgium                   9.568182
Brazil                   34.185185
Bulgaria                  9.000000
Canada                    3.062500
Chile                     1.562500
China                     5.506024
Colombia                  3.137931
Costa Rica                9.652174
Croatia                   7.421053
Cyprus                   33.347826
Czech Republic            7.815789
Denmark                  10.454545
EU27                      5.400000
Estonia                  16.500000
Europe                    4.945946
Finland                  14.789474
France                    5.888889
Germany                   7.253968
Greece                   35.842105
Hungary                   2.222222
Iceland                   8.090909
India                   119.588235
Ireland                   5.764706
Israel                   56.647059
Italy                     5.000000
Japan                     3.190476
Korea                     2.636364
Latvia                   18.767442
Lithuania                12.125000
Luxembourg               10.111111
Mexico                   43.827586
Netherlands               1.063492
New Zealand               3.905660
Norway                    0.666667
Poland                   10.333333
Portugal                  4.294118
Rest of the world        18.230769
Romania                   9.000000
Seychelles                1.702703
Slovakia                 13.375000
Slovenia                 21.631579
South Africa              4.062500
Spain                     4.700000
Sweden                    5.875000
Switzerland               3.076923
Turkiye                 285.956522
USA                       3.583333
United Arab Emirates    695.969697
United Kingdom            7.157895
Name: 2023, dtype: float64

In [37]:
(df
 .loc[lambda df_: df_['parameter'] == 'EV sales']
 .loc[lambda df_ : df_['powertrain'] == 'BEV']
 .pivot_table(index='year',
              columns= 'region',
              values= 'value')
 .pct_change(periods=4, fill_method=None)
 .loc[2023]
 .nlargest(5)
)

region
United Arab Emirates    695.969697
Turkiye                 285.956522
India                   119.588235
Israel                   56.647059
Mexico                   43.827586
Name: 2023, dtype: float64

It's truly astonishing that, out of all countries, the UAE has achieved the highest percentage growth in EV sales over the past five years. But the numbers don't lie—that's exactly what has happened!

Compare, for each year, the "stock" value with the "sales" value for cars with BEV powertrains. How much of the stock was sold, in each year, for each country? In what countries + years were sales equal to the stock? In what countries + years were sales less than 10% of the stock? Did such a low proportion of sales happen in 2022 or 2023?

In [38]:
# our data frame only contain the values of EV sales now we have to change it and inclued ev stocks
(
    df
    .loc[lambda df_: df_['parameter'].isin(['EV sales', 'EV stock'])]
    .loc[lambda df_: df_['powertrain'] == 'BEV']
    .pivot_table(index=['region', 'year'],
                columns='parameter',
                values='value')
)

parameter            EV sales  EV stock
region         year
Australia      2011      49.0      49.0
               2012     170.0     220.0
               2013     190.0     410.0
               2014     370.0     780.0
               2015     760.0    1500.0
...                       ...       ...
United Kingdom 2019   38000.0   91000.0
               2020  110000.0  190000.0
               2021  190000.0  380000.0
               2022  270000.0  550000.0
               2023  310000.0  980000.0

[598 rows x 2 columns]

In [40]:
df['EV sales']/ df['EV stock']

# this will give us the error to resolve this we use "pipe"

KeyError: 'EV sales'

In [41]:
(
    df
    .loc[lambda df_: df_['parameter'].isin(['EV sales', 'EV stock'])]
    .loc[lambda df_: df_['powertrain'] == 'BEV']
    .pivot_table(index=['region', 'year'],
                columns='parameter',
                values='value')
    .pipe(lambda df_: df_['EV sales'] / df_['EV stock'])
)

region          year
Australia       2011    1.000000
                2012    0.772727
                2013    0.463415
                2014    0.474359
                2015    0.506667
                          ...
United Kingdom  2019    0.417582
                2020    0.578947
                2021    0.500000
                2022    0.490909
                2023    0.316327
Length: 598, dtype: float64

In [42]:
(
    df
    .loc[lambda df_: df_['parameter'].isin(['EV sales', 'EV stock'])]
    .loc[lambda df_: df_['powertrain'] == 'BEV']
    .pivot_table(index=['region', 'year'],
                columns='parameter',
                values='value')
    .pipe(lambda df_: df_['EV sales'] / df_['EV stock'])
    .loc[lambda s_: s_ == 1]
)

region        year
Australia     2011    1.0
Brazil        2014    1.0
Chile         2011    1.0
Greece        2013    1.0
Korea         2010    1.0
              2018    1.0
Mexico        2011    1.0
South Africa  2013    1.0
Spain         2010    1.0
Sweden        2010    1.0
              2011    1.0
Switzerland   2011    1.0
dtype: float64

The result of invoking this function (via “pipe”) on our data frame is a series, on which we can then invoke “loc” and grab only those values equal to 1, which means these are the countries where the entier lot is sold.

In [44]:
# This query is almost identical to the previous one, but looks for rows that are < 0.10, rather than == 1

(
    df
    .loc[lambda df_: df_['parameter'].isin(['EV sales', 'EV stock'])]
    .loc[lambda df_: df_['powertrain'] == 'BEV']
    .pivot_table(index=['region', 'year'],
                columns='parameter',
                values='value')
    .pipe(lambda df_: df_['EV sales'] / df_['EV stock'])
    .loc[lambda s_: s_ < 0.01]
)

region  year
Israel  2014    0.005000
        2015    0.002500
        2016    0.004167
dtype: float64

In [45]:
(
    df
    .loc[lambda df_: df_['parameter'].isin(['EV sales', 'EV stock'])]
    .loc[lambda df_: df_['powertrain'] == 'BEV']
    .pivot_table(index=['region', 'year'],
                columns='parameter',
                values='value')
    .pipe(lambda df_: df_['EV sales'] / df_['EV stock'])
    .loc[lambda s_: s_ < 0.10]
    .unstack(level=0)
)

region  Costa Rica   Denmark     India    Israel     Italy    Poland  Portugal
year
2015      0.028571       NaN       NaN  0.002500       NaN  0.028000       NaN
2016      0.075000       NaN       NaN  0.004167       NaN  0.042308       NaN
2017           NaN  0.080682       NaN  0.092857       NaN       NaN       NaN
2012           NaN       NaN  0.067857       NaN       NaN       NaN  0.056250
2019           NaN       NaN  0.079070       NaN       NaN       NaN       NaN
2011           NaN       NaN       NaN  0.035294       NaN       NaN       NaN
2014           NaN       NaN       NaN  0.005000       NaN       NaN       NaN
2018           NaN       NaN       NaN  0.086667       NaN       NaN       NaN
2010           NaN       NaN       NaN       NaN  0.061538       NaN  0.018056

Which five countries, on average, have the highest percentage of sales / stock?

In [46]:
(
    df
    .loc[lambda df_: df_['parameter'].isin(['EV sales', 'EV stock'])]
    .loc[lambda df_: df_['powertrain'] == 'BEV']
    .pivot_table(index=['region', 'year'],
                columns='parameter',
                values='value')
    .pipe(lambda df_: df_['EV sales'] / df_['EV stock'])
    .reset_index()
    .groupby('region')[0].mean()
)

region
Australia               0.509556
Austria                 0.359467
Belgium                 0.511249
Brazil                  0.597556
Bulgaria                     NaN
Canada                  0.472746
Chile                   0.403045
China                   0.527578
Colombia                     NaN
Costa Rica              0.341232
Croatia                      NaN
Cyprus                       NaN
Czech Republic               NaN
Denmark                 0.372616
EU27                    0.413793
Estonia                      NaN
Europe                  0.395114
Finland                 0.391805
France                  0.436134
Germany                 0.515133
Greece                  0.524149
Hungary                      NaN
Iceland                 0.518910
India                   0.333311
Ireland                      NaN
Israel                  0.333586
Italy                   0.340381
Japan                   0.301969
Korea                   0.540066
Latvia                       NaN
Lithuania                    NaN
Luxembourg                   NaN
Mexico                  0.470482
Netherlands             0.441469
New Zealand             0.483830
Norway                  0.334612
Poland                  0.251607
Portugal                0.279091
Rest of the world       0.383455
Romania                      NaN
Seychelles                   NaN
Slovakia                     NaN
Slovenia                     NaN
South Africa            0.382541
Spain                   0.461403
Sweden                  0.547542
Switzerland             0.436222
Turkiye                 0.333446
USA                     0.384041
United Arab Emirates         NaN
United Kingdom          0.408701
Name: 0, dtype: float64

In [47]:
(
    df
    .loc[lambda df_: df_['parameter'].isin(['EV sales', 'EV stock'])]
    .loc[lambda df_: df_['powertrain'] == 'BEV']
    .pivot_table(index=['region', 'year'],
                columns='parameter',
                values='value')
    .pipe(lambda df_: df_['EV sales'] / df_['EV stock'])
    .reset_index()
    .groupby('region')[0].mean()
    .nlargest(5)
)

region
Brazil    0.597556
Sweden    0.547542
Korea     0.540066
China     0.527578
Greece    0.524149
Name: 0, dtype: float64

Once again, compare, for each year, the "stock" value with the "sales" value for cars with BEV powertrains. Add a column, "sales_pct_stock", showing the percentage of the stock that was sold. Wherever that percentage is >= 75%, color it light green. Wherever it's <= 10%, color it light red.

In [48]:
(
    df
    .loc[lambda df_: df_['parameter'].isin(['EV sales', 'EV stock'])]
    .loc[lambda df_: df_['powertrain'] == 'BEV']
    .pivot_table(index=['region', 'year'],
                columns='parameter',
                values='value')
    .assign(sales_pct_stock=lambda df_: 
            df_['EV sales'] / df_['EV stock'])
    .style
    .highlight_between(subset=['sales_pct_stock'], 
                       left=0.75, 
                       right=float('inf'), 
                       color='lightgreen')
    .highlight_between(subset=['sales_pct_stock'], 
                       left=float('-inf'), 
                       right=0.10, 
                       color='pink')
)